.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-proj {
  height: 25;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

vert-disp {
  display: table-cell;
  vertical-align: middle;
}

.container-proj {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

